<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'locations')}">
<head>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-datepicker3.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-datepicker3.standalone.css}"/>
</head>
<body>

<h2 th:with="text=${location['new']} ? #{location.add.title} : #{location.update.title}" th:text="${text}">Add location</h2>
<form th:object="${location}" class="form-horizontal" id="add-location-form" method="POST">
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputField :: input ('', 'id', 'hidden', '')}"/>
        <input th:replace="~{fragments/inputField :: input (#{location.details.name}, 'name', 'text', '')}" />
        <input th:replace="~{fragments/inputField :: input (#{location.details.town}, 'town.name', 'hidden', '')}"/>
        <th:block th:each="sport,sportStat: *{sports}">
            <hr/>
            <input th:replace="~{fragments/inputField :: input ('', 'sports[__${sportStat.index}__].id', 'hidden', '')}" />
            <input th:replace="~{fragments/inputField :: input (#{location.details.sports.name}, 'sports[__${sportStat.index}__].name', 'sports', ${sportValues})}" />
            <input th:replace="~{fragments/inputField :: input (#{location.details.sports.startDate}, 'sports[__${sportStat.index}__].startDate', 'date', '')}" />
            <input th:replace="~{fragments/inputField :: input (#{location.details.sports.endDate}, 'sports[__${sportStat.index}__].endDate', 'date', '')}" />
            <input th:replace="~{fragments/inputField :: input (#{location.details.sports.avgPrice}, 'sports[__${sportStat.index}__].avgCostPerDay', 'numeric', '')}" />
        </th:block>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button th:with="text=${location['new']} ? #{location.add.title} : #{location.update.title}"
                    class="btn btn-default" type="submit" th:text="${text}">Add Location</button>
        </div>
    </div>
</form>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
<script>
    $('.input-dp').datepicker({
        format: "dd.mm.yyyy",
        weekStart: 1,
        startDate: 0,
        maxViewMode: 2,
        todayHighlight: true,
        autoclose: true
    });
</script>
</body>
</html>