<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'locations')}">

<body>
<h2 th:text="#{location.details.title}">Location details</h2>

<table class="table table-striped" th:object="${location}">
    <tr>
        <th th:text="#{location.details.name}">Name</th>
        <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
        <th th:text="#{location.details.town}">Town</th>
        <td th:text="*{town.name}"></td>
    </tr>
    <tr>
        <th th:text="#{location.details.sports}">Sports</th>
        <td th:text="#{location.details.sports.name}">Name</td>
        <td th:text="#{location.details.sports.startDate}">Start date</td>
        <td th:text="#{location.details.sports.endDate}">End date</td>
        <td th:text="#{location.details.sports.avgPrice}">Avg. price</td>
    </tr>
    <tr th:each="sport: *{sports}">
        <th/>
        <td th:text="${sport.name}" />
        <td th:text="${#temporals.format(sport.startDate, 'dd.MM.yyyy')}" />
        <td th:text="${#temporals.format(sport.endDate, 'dd.MM.yyyy')}" />
        <td th:text="#{priceAndCurrency(${sport.avgCostPerDay})}" />
    </tr>
</table>

<div>
    <a th:href="@{/locations/__${location.id}__/edit}" th:text="#{location.update.title}"/></a>
    <br />
    <a th:href="@{/locations/__${location.id}__/delete}" th:text="#{location.delete.title}"/></a>
</div>
</body>
</html>